<h1>Servers</h1>

<table class="table">
  <thead>
    <tr>
      <th>Hostname</th>
      <th>IP</th>
      <th>CPU</th>
      <th>Operating System</th>
      <th>Memory</th>
      <th>Storage</th>
      <th>Location</th>
      <th>Environment ID</th>
      <th colspan="8"></th>
    </tr>
  </thead>

  <tbody>
    <% @servers.each do |server| %>
      <tr>
        <td><%= server.hostname %></td>
        <td><%= server.ip %></td>
        <td><%= server.cpu %></td>
        <td><%= server.operating_system %></td>
        <td><%= server.memory %></td>
        <td><%= server.storage %></td>
        <td><%= server.location %></td>
        <td><%= server.environment_id %></td>
        <!-- <td><%#= link_to 'Show', server, class: "btn btn-info" %></td>
        <td><%#= link_to 'Edit', edit_server_path(server), class: "btn btn-primary" %></td>
        <td><%#= link_to 'Delete', server, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
