<!-- Search Bar -->
<div class="float-right">
  <%= form_tag(projects_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Projects" %>
    <%= submit_tag "Search", :name => nil %>
  <% end %>
</div>

<% if @projects.blank? %>
  <center><h4>There are no projects containing the term "<%= params[:search] %>".</h4></center>
  <center><%= link_to "Refresh", projects_path, class: "btn btn-success" %></center>
<% end %>
<!-- End Search Bar  -->

<p id="notice"><%= notice %></p>

  <h1>Projects</h1>
  <div>
    <%= @projects.count %> projects returned. <%= project_refresh_helper %>
  </div>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th class = "text-center">Name</th>
      <th class = "text-center">Description</th>
      <th class = "text-center" colspan="3">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td><%= link_to 'Environments', project, class: "btn btn-info" %></td>
        <td><%= link_to 'Rename', edit_project_path(project), class: "btn btn-primary" %></td>
        <td><%= link_to 'Delete', project, method: :delete, data: {
          confirm: 'Are you sure? This will delete all environments for this project.' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New Project', new_project_path, class: "btn btn-primary" %>
