<h1>New Project</h1>

<%= form_with(model: @project, local: true) do |form| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :project_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :project_description %>
  </div>

  <div class="field">
    <%= form.label :rancher %>
    <%= form.check_box :rancher, id: :project_rancher %>
  </div>

  <div class="field">
    <%= form.label :rancher %>
    <%= form.check_box :rancher, id: :project_rancher %>
  </div>

  <%= form.fields_for(:environments) do |environment_form| %>
    <li>
      <%= environment_form.label :environment %>
      <%= environment_form.text_field :environment %>
    </li>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<%= link_to 'Back', projects_path %>
