<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Rancher:</strong>
  <%= @project.rancher %>
</p>

<h2>Environments: </h2>
<% @project.environments.each do |x|  %>
  <p><%= x.environment%></p>
<% end %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
