<p id="notice"><%= notice %></p>

<h1>Project Information</h1>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <%= link_to 'Environments for this project', project_environments_path(@project) %>
</p>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
