<p id="notice"><%= notice %></p>

<div class="col-lg-10 col-md-8">
  <h1>Environments for: <strong><%= @project.name %></strong></h1>

<!-- Card -->
<div class="row">
  <% @environments.each do |x| %>
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <%= link_to("#{x.name}", project_environment_path(@project, x.id))  %>
                  </h4>
                  <p class="card-text"><%= @project.description %></p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">★ ★ ★ ★ ☆</small>
                </div>
              </div>
            </div>
  <% end %>
</div>

<p>
	<%= link_to('Add an environment to this project', new_project_environment_path(@project), class: 'btn btn-primary') %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back to projects', projects_path %>

</div>
