<%= form_with(model: @environment, local: true) do |form| %>

  <!-- Start form for Environments -->
  <div class="form-group">
    <%= form.fields_for(:environment) do |form| %>
      <%= form.label :name %>
      <%= form.select :environment_id, [['Dev', 1], ['QA', 2], ['Production', 3], ['Training', 4], ['Staging', 5], ['Test', 6]], {}, class: 'form-control' %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit "Save Project", class: "btn btn-success" %>
  </div>
<% end %>

  <!-- End form for environments. -->

<!-- Start form for Servers -->
  <!-- <h2>Add Servers: </h2>
  <table class="table">
    <thead>
      <tr>
        <th>Hostname</th>
        <th>IP</th>
        <th>OS</th>
        <th>CPU</th>
        <th>Memory</th>
        <th>Storage</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <div>
        <%#= form.fields_for(:servers) do |server_form| %>
          <%#= render 'projects/server_fields', f: server_form %>
        <%# end %>
      </div>
    </tbody>
  </table>
  <div>
    <%#= link_to_add_association 'Add Server', form, :servers, class: "btn btn-primary" %>
  </div> -->
<!-- End form for Servers -->
