<p id="notice"><%= notice %></p>

<h2>Information for this environment: <strong><%= @environment.name %></strong></h2>
<div class="panel panel-default">
  <!-- /.panel-heading -->
  <div class="panel-body">
      <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
              <thead>
                  <tr>
                      <th>HostName</th>
                      <th>IP</th>
                      <th>CPU</th>
                      <th>Memory</th>
                      <th>Storage</th>
                      <th>Operating System</th>
                      <th>Location</th>
                  </tr>
              </thead>
              <tbody>
                  <% @servers.each do |server| %>
                  <tr>
                    <td><%= server.hostname %></td>
                    <td><%= server.ip %></td>
                    <td><%= server.cpu %></td>
                    <td><%= server.memory %></td>
                    <td><%= server.storage %></td>
                    <td><%= server.operating_system %></td>
                    <td><%= server.location %></td>
                  </tr>
                  <% end %>
              </tbody>
          </table>
      </div>
      <!-- /.table-responsive -->
  </div>
  <!-- /.panel-body -->
</div>
<hr>
<p>
  <%= link_to 'Edit this environment', edit_project_environment_path, class: "btn btn-primary" %>
</p>

<p>
  <%= link_to 'Back To Environments', project_path(@project_id) %> | <%= link_to 'Back To Projects', projects_path %>
</p>
