<!DOCTYPE html>
<html>
  <head>
    <title>AppData</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Nav Bar -->
    <nav class="navbar navbar-inverse bg-primary sticky-top" >
      <div class="container">
        <a class="navbar-brand" style="color: white;" href="/">AppData</a>
      </div>
    </nav>
    <!-- End Nav Bar -->

    <div class="container">
      <% flash.each do |name,msg| %>
        <div class='alert alert-<%= name%>'>
          <%= msg %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
