<!DOCTYPE html>
<html>
  <head>
    <title>AppData</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Nav Bar -->
    <nav class="navbar navbar-inverse bg-primary sticky-top" >
      <div class="container">
        <a class="navbar-brand" style="color: white;" href="/">AppData</a>
      </div>
    </nav>
    <!-- End Nav Bar -->

    <!-- Search Bar -->
    <%= form_tag(projects_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Projects" %>
      <%= submit_tag "Search", :name => nil %>
    <% end %>

    <% if @projects.blank? %>
      <center><h4>There are no projects containing the term "<%= params[:search] %>".</h4></center>
    <% end %>
    <!-- End Search Bar  -->

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
